
  .navbar{
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.10);
    }

  .desktop-menu{
    .navbar-item{
      @apply montserrat-medium text-darkgrey mx-4;
      }
    }

  #mobile-menu{
    .navbar-item{
      @apply montserrat-medium text-white leading-175 m-0;
      }
    }

  .navbar-dropdown{
    height:250px;
    left:1000px;
    @apply bg-green absolute top-0 w-full pt-4;
    .navbar-item{
      @apply w-full block m-0 pb-1 px-6 text-08;
      }
    .menu-back{
      font-weight:700 !important;
      font-size:0.7rem;
      img{
        display:inline-block;
        margin-right:5px;
        }
      }
    @media(min-width:1024px){
      width:400px;
      height:auto;
      top:50px;
      @apply bg-white absolute top-1 left-0;
      .navbar-item{
        @apply w-full block m-0 py-2 px-4;
        }
      .menu-back{
        display:none;
        }
      }
    }

  div.navbar-item{
    display:flex;
    }

  .has-dropdown{
    @media(min-width:1024px){
      position:relative;
      &.navbar-item{
        @apply m-0;
      }
    }
  }

