{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": true,
                "modules": false,
                "useBuiltIns": "usage",
                "corejs": 3.0,
                "targets": {
                    "ie": 11
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-classes",
        "@babel/plugin-transform-exponentiation-operator"
    ]
}
